<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="../public/projects.css">
    <link rel="stylesheet" href="../public/universal.css">
    <script src="../universal.js"></script>
</head>
<body>
    <site-header></site-header>
    <section id="projects">
            <h1>My Projects</h1>
            <div class="projectList">
                <div class="projectItem">
                    <h1>Custom HomePage</h1>
                    <img src="../public/images/Screenshot 2026-04-13 164444.png" alt="My Custom HomePage" id="customHomepageLink">
                    <p><a href="https://github.com/theonegingerguy/custom-homepage" target="_blank">Github Link</a></p>
                </div>
                <div class="projectItem">
                    <h1>Clockwork</h1>
                    <img src="../public/images/Screenshot 2026-04-13 170759.png" alt="ClockWork - Time Management for Students" id="clockWorkLink">
                    <p><a href="https://github.com/TheOneGingerGuy/web-design" target="_blank">Github Link</a></p>
                </div>
                <div class="projectItem">
                    <h1>Mini-Game</h1>
                    <img src="../public/images/Screenshot 2026-04-13 171042png.png" alt="Mini-Game" id="miniGameLink">
                    <p><a href="https://github.com/TheOneGingerGuy/Mini-Game-Project" target="_blank">Github Link</a></p>
                </div>
            </div>
        </section>
    <site-footer></site-footer>
    <script src="../script.js"></script>
</body>
</html>