<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../public/resume.css">
    <link rel="stylesheet" href="../public/universal.css">
    <script src="../universal.js"></script>
</head>
<body>
    <site-header></site-header>
    <main>
        <section id="resume">
            <h1>Resume/Previous Work Experience</h1>
            <div class="resumeContent">I have no important work experience to display at this time.</div>
        </section>
    </main>
    <site-footer></site-footer>
</body>
<script src="../script.js"></script>
</html>