<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="../public/skills.css">
    <link rel="stylesheet" href="../public/universal.css">
    <script src="../universal.js"></script>
</head>
<body>
    <site-header></site-header>
    <main>
        <section id="skills">
            <div class="skillsTitle">My Skills</div>
            <div class="skillsList">

                <div class="htmlWrapper" style="top: 0px; left: 26px;">
                    <div class="Hex" id="htmlHex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML" class="skillLogo">
                        <span>HTML</span>
                    </div>
                </div>

                <div class="cssWrapper" style="top: 0px; left: 240px;">
                    <div class="Hex" id="cssHex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS" class="skillLogo">
                        <span>CSS</span>
                    </div>
                </div>

                <div class="jsWrapper" style="top: 0px; left: 454px;">
                    <div class="Hex" id="jsHex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" class="skillLogo">
                        <span>JavaScript</span>
                    </div>
                </div>

                <div class="pythonWrapper" style="top: 182px; left: 133px;">
                    <div class="Hex" id="pythonHex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" class="skillLogo">
                        <span>Python</span>
                    </div>
                </div>

                <div class="reactWrapper" style="top: 182px; left: 347px;">
                    <div class="Hex" id="reactHex">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React" class="skillLogo">
                        <span>React</span>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <site-footer></site-footer>
    <script src="../script.js"></script>
</body>
</html>