
#resume {
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 900px;
    position: relative;
    z-index: 1;
    background-color: var(--boxColor);
    border-radius: 6px;
    animation: myanim 1s ease;
}

#resume h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.resumeContent {
    background-color: var(--boxColor);
    border-radius: 6px;
    padding: 30px;
}
