<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben's Digital Portfolio</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/universal.css">
    <script src="/universal.js"></script>
</head>
<body>
    <div id="follower"></div>
    <site-header></site-header>
    <main class="content">
        <section id="home">
            <div class="infoSet">
                <div class="hexagonWrapper">
                    <div class="hexagon">
                        <div class="hexagonInner">
                            <img src="/public/images/asset.png" alt="Picture of me" class="selfPortrait">
                        </div>
                    </div>
                </div>
                <div class="buttonDiv">
                    <button id="linkedinButton">Resume</button>
                    <button id="githubButton">Github</button>
                </div>
            </div>
            <div class="aboutMe">
                <h1>Introduction</h1>
                <p>Hello! I'm Ben Andrade, a passionate web developer with experience in creating dynamic and responsive websites. Including frontend development with HTML, CSS, and JavaScript. And a little bit of python. Im currently attending west-mec technical program for IT. With a dream career in Full-Stack Development. </p>
            </div>
        </section>
    </main>
    <site-footer></site-footer>
    <script src="/script.js"></script>
</body>
</html>